@use '../base/typo';
@use '../abstracts/variables';


footer {
  margin-top: 2rem;
  padding: 1.5rem 0;
  background-color: variables.$clr-accent-500;
  //color: variables.$clr-accent-100;
  color: white;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}


.footer-email {
  font-weight: typo.$fw-bold;
  color: white;
  text-underline-offset: 7px;
  text-decoration-thickness: 3px;
}

.social-links {
  display: flex;
  gap: 1.5rem;

}

.social-icon {
  width: 3rem;
  height: 3rem;
}

.partners-list {
  columns: 2;
  text-align: center;
  //align-self: center;
}

.footer-img {
  position: relative;

  img {
    max-width: min(400px, 100%);
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 1.5rem;
    margin-inline: auto;
  }
  p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 40em) {
  .footer-wrapper{
    display: grid;
    grid-auto-flow: column;
  }
}
